h1 {
  text-align: center;
  margin-bottom: 20px;
  font-family: Arial, sans-serif;
  color: #333;
}

table {
  width: 90%;
  margin: 0 auto;
  border-collapse: collapse;
  font-family: Arial, sans-serif;
}

thead {
  background-color: #0078d7;
  color: #fff;
}

th, td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: center;
}

tr:nth-child(even) {
  background-color: #f9f9f9;
}

button {
  margin: 0 5px;
  padding: 6px 12px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:first-child {
  background-color: #0078d7;
  color: #fff;
}

button:last-child {
  background-color: #d9534f;
  color: #fff;
}

button:hover {
  opacity: 0.9;
}

table{
  margin-top: 80px;
}

a{
  display: flex;
  margin: 13px 5px;
  padding: 6px 6px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  background-color: rgb(64, 206, 64);
  text-decoration: none;
}