<table>
  <thead>
    <tr>
      <th *ngFor="let header of tableHeaders">{{ header }}</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let device of devices">
      <td>{{ device.id }}</td>
      <td>{{ device.deviceName }}</td>
      <td>{{ device.partNumber }}</td>
      <td>{{ device.BuildingName }}</td>
      <td>{{ device.DeviceType }}</td>
      <td>{{ device.numberOfShelf }}</td>
      <td>
        <button (click)="updateDevice(device.id)">Update</button>
        <button (click)="deleteDevice(device.id)">Delete</button>
      </td>
    </tr>
  </tbody>
</table>