<table>
  <thead>
    <tr>
      <th *ngFor="let header of tableHeaders">{{ header }}</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let device of devices">
      <td>{{ device.deviceId }}</td>
      <td>{{ device.deviceName }}</td>
      <td>{{ device.partNumber }}</td>
      <td>{{ device.buildingName }}</td>
      <td>{{ device.deviceType }}</td>
      <td>{{ device.numberOfShelfPositions }}</td>
      <td>
        <a [routerLink]="['/device/summary/device/', device.deviceId]">Update</a>
        <button (click)="deleteDevice(device.deviceId)">Delete</button>
      </td>
    </tr>

    <tr *ngIf="devices.length === 0">
      <td colspan="7" style="text-align:center;">No devices found</td>
    </tr>
  </tbody>
</table>