<table>
  <thead>
    <tr>
      <th *ngFor="let header of tableHeaders">{{ header }}</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let shelf of shelves; trackBy: trackByShelfId">
      <td>{{ shelf.shelfId }}</td>
      <td>{{ shelf.shelfName }}</td>
      <td>{{ shelf.partNumber }}</td>
      <td>{{ shelf.shelfPositionId }}</td>
      <td>{{ shelf.deviceName }}</td>
      <td>
        <a [routerLink]='["/shelf/updation/",shelf.shelfId]'>Update</a>
        <button (click)="deleteShelfById(shelf.shelfId)">Delete</button>
      </td>
    </tr>
  </tbody>
</table>