a{
    text-decoration: none;
    padding: 2px;
    background-color: rgb(103, 147, 36);
    width: 60px;
    margin: 10px;
    color: aliceblue;
    border-radius: 15px;
    text-align: center;
    height: 20px;
}

.align-item-div{
    display: flex;
    justify-content: space-between;
}

span{
    margin: 10px;
}